In [8]:
import pandas as pd
s = pd.Series([10, 20, 30, 40], index=["a", "b", "c", "d"])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [9]:
data = {
"Возраст": [25, 30, 22],
"Город": ["Москва", "СПб", "Казань"]
}
df = pd.DataFrame(data, index=["Анна", "Иван", "Ольга"])
print(df)

       Возраст   Город
Анна        25  Москва
Иван        30     СПб
Ольга       22  Казань

In [10]:
print(df["Возраст"])

Анна     25
Иван     30
Ольга    22
Name: Возраст, dtype: int64

In [11]:
s = pd.Series([10, 20, 30], index=["a", "b", "c"])
df = s.to_frame(name="Значение")
print(df)

   Значение
a        10
b        20
c        30

In [12]:
s = df["Значение"]
print(s)

a    10
b    20
c    30
Name: Значение, dtype: int64

In [13]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга"],
"Возраст": [25, 30, 22],
"Город": ["Москва", "СПб", "Казань"]
}
df = pd.DataFrame(data)
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [14]:
ages = pd.Series([25, 30, 22], index=["a", "b", "c"])
cities = pd.Series(["Москва", "СПб", "Казань"], index=["a", "b", "c"])
df = pd.DataFrame({"Возраст": ages, "Город": cities})
print(df)

   Возраст   Город
a       25  Москва
b       30     СПб
c       22  Казань

In [15]:
data = [
["Анна", 25, "Москва"],
["Иван", 30, "СПб"],
["Ольга", 22, "Казань"]
]
df = pd.DataFrame(data, columns=["Имя", "Возраст", "Город"])
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [16]:
data = [
{"Имя": "Анна", "Возраст": 25, "Город": "Москва"},
{"Имя": "Иван", "Возраст": 30}, # "Город" пропущен
{"Имя": "Ольга", "Возраст": 22, "Город": "Казань"}
]
df = pd.DataFrame(data)
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     NaN
2  Ольга       22  Казань

In [17]:
import numpy as np
data = np.array([
["Анна", 25, "Москва"],
["Иван", 30, "СПб"],
["Ольга", 22, "Казань"]
])
df = pd.DataFrame(data, columns=["Имя", "Возраст", "Город"])
print(df)

     Имя Возраст   Город
0   Анна      25  Москва
1   Иван      30     СПб
2  Ольга      22  Казань

In [18]:
numeric_data = np.array([
[25, 65.5],
[30, 78.2],
[22, 54.3]
])
df = pd.DataFrame(numeric_data, columns=["Возраст", "Вес"])
print(df)

   Возраст   Вес
0     25.0  65.5
1     30.0  78.2
2     22.0  54.3

In [19]:
df = pd.DataFrame(columns=["Имя", "Возраст", "Город"])
print(df)

Empty DataFrame
Columns: [Имя, Возраст, Город]
Index: []

In [20]:
df.loc[0] = ["Анна", 25, "Москва"]
df.loc[1] = ["Иван", 30, "СПб"]
print(df)

    Имя  Возраст   Город
0  Анна       25  Москва
1  Иван       30     СПб

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("data.csv")
print(df.head()) # Выведем первые 5 строк

   1
0  2
1  3
2  4
3  5
4  6

In [25]:
df = pd.read_csv("data.csv", sep=";", index_col=0, na_values=["?","N/A"])

In [26]:
df.to_csv("output.csv", index=False)

In [3]:
import pandas as pd


data = {
    "Дата": ["2024-03-01", "2024-03-02", "2024-03-03"],
    "Цена": [100, 110, 105]
}
df = pd.DataFrame(data)

df.to_excel("data.xlsx", sheet_name="Лист1", index=False, engine="openpyxl")

df_read = pd.read_excel("data.xlsx", sheet_name="Лист1", engine="openpyxl")

print(df_read.head())

         Дата  Цена
0  2024-03-01   100
1  2024-03-02   110
2  2024-03-03   105

In [5]:
df.to_excel("output.xlsx", sheet_name="Результаты", index=False)

In [15]:
import sqlite3
import pandas as pd

# 1. Создание базы данных и таблицы
conn = sqlite3.connect("database.db")  # Создаст файл database.db
cursor = conn.cursor()

# Создание таблицы users
cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        email TEXT
    )
''')

# 2. Вставка тестовых данных
cursor.execute('''
    INSERT INTO users (name, age, email)
    VALUES 
        ('Алексей', 25, 'alex@example.com'),
        ('Мария', 30, 'maria@example.com'),
        ('Иван', 28, 'ivan@example.com')
''')

conn.commit()  # Сохраняем изменения

# 3. Чтение данных через pandas
query = "SELECT * FROM users"
df = pd.read_sql(query, conn)
print("Данные из таблицы users:")
print(df)

# Закрываем соединение
conn.close()

Данные из таблицы users:
   id     name  age              email
0   1  Алексей   25   alex@example.com
1   2    Мария   30  maria@example.com
2   3     Иван   28   ivan@example.com
3   4  Алексей   25   alex@example.com
4   5    Мария   30  maria@example.com
5   6     Иван   28   ivan@example.com

In [33]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("database.db")  

data = {
    "name": ["Анна", "Петр", "Мария"],
    "age": [25, 30, 28]
}
df = pd.DataFrame(data)

df.to_sql(
    name="users",         
    con=conn,              
    if_exists="replace",   
    index=False            
)


conn.close()

with sqlite3.connect("database.db") as check_conn:
    result = pd.read_sql("SELECT * FROM users", check_conn)
    print("Данные в таблице users:")
    print(result)

Данные в таблице users:
    name  age
0   Анна   25
1   Петр   30
2  Мария   28

In [35]:
import pandas as pd

data = {
    "Имя": ["Анна", "Петр", "Мария"],
    "Возраст": [25, 30, 28],
    "Город": ["Москва", "Санкт-Петербург", "Казань"]
}

df = pd.DataFrame(data)
df.to_json("data.json", orient="records", force_ascii=False)  # orient='records' для списка объектов

df_read = pd.read_json("data.json")

print("Данные из JSON-файла:")
print(df_read)

Данные из JSON-файла:
     Имя  Возраст            Город
0   Анна       25           Москва
1   Петр       30  Санкт-Петербург
2  Мария       28           Казань

In [39]:
import pandas as pd

# 1. Создаем тестовые данные
data = {
    "Имя": ["Анна", "Петр", "Мария"],
    "Возраст": [25, 30, 28],
    "Город": ["Москва", "Санкт-Петербург", "Казань"]
}

df = pd.DataFrame(data)

# 2. Сохраняем в Parquet (требуется pyarrow)
df.to_parquet(
    "data.parquet", 
    engine="pyarrow",  # Используем движок pyarrow
    compression="snappy"  # Опциональное сжатие
)

# 3. Читаем файл
df_read = pd.read_parquet("data.parquet")

# 4. Выводим результат
print("Данные из Parquet-файла:")
print(df_read)

Данные из Parquet-файла:
     Имя  Возраст            Город
0   Анна       25           Москва
1   Петр       30  Санкт-Петербург
2  Мария       28           Казань

In [33]:
df.to_parquet("output.parquet", engine="pyarrow", index=False)

In [41]:
import pandas as pd

data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария", "Сергей"],
"Возраст": [25, 30, 22, 40, 35, 28],
"Город": ["Москва", "СПб", "Казань", "Новосибирск",
"Екатеринбург", "Сочи"]
}
df = pd.DataFrame(data)

print(df.head(3))

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [35]:
print(df.tail(2)) # Последние 2 строки

      Имя  Возраст         Город
4   Мария       35  Екатеринбург
5  Сергей       28          Сочи

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Имя      6 non-null      object
 1   Возраст  6 non-null      int64
 2   Город    6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

In [37]:
print(df.describe())

        Возраст
count   6.00000
mean   30.00000
std     6.60303
min    22.00000
25%    25.75000
50%    29.00000
75%    33.75000
max    40.00000

In [38]:
print(df.describe(include="object")) # Анализ строковых данных

         Имя   Город
count      6       6
unique     6       6
top     Анна  Москва
freq       1       1

In [39]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр"],
"Возраст": [25, 30, 22, 40],
"Город": ["Москва", "СПб", "Казань", "Новосибирск"]
}
df = pd.DataFrame(data, index=["a", "b", "c", "d"])
print(df)

     Имя  Возраст        Город
a   Анна       25       Москва
b   Иван       30          СПб
c  Ольга       22       Казань
d   Петр       40  Новосибирск

In [40]:
print(df.loc["b"])

Имя        Иван
Возраст      30
Город       СПб
Name: b, dtype: object

In [41]:
print(df.loc["c", "Город"]) # Получим город Ольги

Казань

In [42]:
print(df.loc[["a", "c"]]) # Выбор строк "a" и "c"

     Имя  Возраст   Город
a   Анна       25  Москва
c  Ольга       22  Казань

In [44]:
print(df.loc[:, ["Имя", "Город"]]) # Выбор всех строк, но только двух столбцов

     Имя        Город
a   Анна       Москва
b   Иван          СПб
c  Ольга       Казань
d   Петр  Новосибирск

In [45]:
print(df.loc[df["Возраст"] > 25])

    Имя  Возраст        Город
b  Иван       30          СПб
d  Петр       40  Новосибирск

In [46]:
print(df.iloc[1])

Имя        Иван
Возраст      30
Город       СПб
Name: b, dtype: object

In [47]:
print(df.iloc[2, 2])

Казань

In [48]:
print(df.iloc[[0, 2]])

     Имя  Возраст   Город
a   Анна       25  Москва
c  Ольга       22  Казань

In [49]:
print(df.iloc[1:3])

     Имя  Возраст   Город
b   Иван       30     СПб
c  Ольга       22  Казань

In [50]:
print(df.iloc[:, [0, 2]])

     Имя        Город
a   Анна       Москва
b   Иван          СПб
c  Ольга       Казань
d   Петр  Новосибирск

In [51]:
print(df.at["c", "Город"])

Казань

In [52]:
print(df.iat[2, 2])

Казань

In [53]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга"],
"Возраст": [25, 30, 22]
}
df = pd.DataFrame(data)
df["Город"] = ["Москва", "СПб", "Казань"] # Добавляем новый столбец
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [54]:
df["Страна"] = "Россия"
print(df)

     Имя  Возраст   Город  Страна
0   Анна       25  Москва  Россия
1   Иван       30     СПб  Россия
2  Ольга       22  Казань  Россия

In [55]:
df["Возраст_в_месяцах"] = df["Возраст"] * 12
print(df)

     Имя  Возраст   Город  Страна  Возраст_в_месяцах
0   Анна       25  Москва  Россия                300
1   Иван       30     СПб  Россия                360
2  Ольга       22  Казань  Россия                264

In [56]:
df = df.assign(Зарплата=[50000, 60000, 45000])
print(df)

     Имя  Возраст   Город  Страна  Возраст_в_месяцах  Зарплата
0   Анна       25  Москва  Россия                300     50000
1   Иван       30     СПб  Россия                360     60000
2  Ольга       22  Казань  Россия                264     45000

In [59]:
df["Категория возраста"] = df["Возраст"].apply(lambda x: "Молодой" if 
x < 30 else "Взрослый")
print(df)

     Имя  Возраст   Город  Страна  Возраст_в_месяцах  Зарплата  \
0   Анна       25  Москва  Россия                300     50000
1   Иван       30     СПб  Россия                360     60000
2  Ольга       22  Казань  Россия                264     45000

  Категория возраста
0            Молодой
1           Взрослый
2            Молодой

In [45]:
import pandas as pd

df = pd.DataFrame({
    "Имя": ["Анна", "Петр", "Мария"],
    "Возраст": [25, 30, 28],
    "Город": ["Москва", "СПб", "Казань"]
})

df.loc[3] = ["Петр", 40, "Новосибирск"]

print(df)

     Имя  Возраст        Город
0   Анна       25       Москва
1   Петр       30          СПб
2  Мария       28       Казань
3   Петр       40  Новосибирск

In [53]:
import pandas as pd


data = {
    "Имя": ["Анна", "Петр", "Мария"],
    "Возраст": [25, 30, 28],
    "Город": ["Москва", "СПб", "Казань"],
    "Страна": ["Россия", "Россия", "Россия"]
}
df = pd.DataFrame(data)


new_row = {"Имя": "Сергей", "Возраст": 35, "Город": "Сочи", "Страна": "Россия"}


df = pd.concat(
    [df, pd.DataFrame([new_row])],
    ignore_index=True  
)

print(df)

      Имя  Возраст   Город  Страна
0    Анна       25  Москва  Россия
1    Петр       30     СПб  Россия
2   Мария       28  Казань  Россия
3  Сергей       35    Сочи  Россия

In [55]:
new_data = pd.DataFrame([{"Имя": "Алексей", "Возраст": 29, "Город":
"Томск", "Страна": "Россия"}])
df = pd.concat([df, new_data], ignore_index=True)
print(df)

       Имя  Возраст   Город  Страна
0     Анна       25  Москва  Россия
1     Петр       30     СПб  Россия
2    Мария       28  Казань  Россия
3   Сергей       35    Сочи  Россия
4  Алексей       29   Томск  Россия

In [57]:
new_rows = pd.DataFrame([{"Имя": "Дмитрий", "Возраст": 31, "Город": "Самара", "Страна":
"Россия"},
{"Имя": "Елена", "Возраст": 27, "Город": "Воронеж", "Страна":
"Россия"}
])
df = pd.concat([df, new_rows], ignore_index=True)
print(df)

       Имя  Возраст    Город  Страна
0     Анна       25   Москва  Россия
1     Петр       30      СПб  Россия
2    Мария       28   Казань  Россия
3   Сергей       35     Сочи  Россия
4  Алексей       29    Томск  Россия
5  Дмитрий       31   Самара  Россия
6    Елена       27  Воронеж  Россия

In [59]:
df.loc["новый"] = ["Артем", 33, "Калуга", "Россия"]
print(df)

           Имя  Возраст    Город  Страна
0         Анна       25   Москва  Россия
1         Петр       30      СПб  Россия
2        Мария       28   Казань  Россия
3       Сергей       35     Сочи  Россия
4      Алексей       29    Томск  Россия
5      Дмитрий       31   Самара  Россия
6        Елена       27  Воронеж  Россия
новый    Артем       33   Калуга  Россия

In [61]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга"],
"Возраст": [25, 30, 22],
"Город": ["Москва", "СПб", "Казань"],
"Зарплата": [50000, 60000, 45000]
}
df = pd.DataFrame(data)
# Удаляем столбец "Зарплата"
df = df.drop(columns=["Зарплата"])
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [63]:
df = df.drop(columns=["Возраст", "Город"])
print(df)

     Имя
0   Анна
1   Иван
2  Ольга

In [65]:
del df["Имя"]
print(df)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [67]:
df["Имя"] = ["Анна", "Иван", "Ольга"] # Вернем столбец для примера
удаленный_столбец = df.pop("Имя")
print(удаленный_столбец)

0     Анна
1     Иван
2    Ольга
Name: Имя, dtype: object

In [69]:
df = pd.DataFrame(data) # Восстанавливаем DataFrame
# Удаляем строку с индексом 1 (Иван)
df = df.drop(index=1)
print(df)

     Имя  Возраст   Город  Зарплата
0   Анна       25  Москва     50000
2  Ольга       22  Казань     45000

In [71]:
df = df.drop(index=[0, 2]) # Удаляем Анну и Ольгу
print(df)

Empty DataFrame
Columns: [Имя, Возраст, Город, Зарплата]
Index: []

In [73]:
df = pd.DataFrame(data) # Восстанавливаем DataFrame
# Оставляем только людей старше 25 лет
df = df[df["Возраст"] > 25]
print(df)

    Имя  Возраст Город  Зарплата
1  Иван       30   СПб     60000

In [75]:
df = df.reset_index(drop=True) # Сбрасываем индексы
print(df)

    Имя  Возраст Город  Зарплата
0  Иван       30   СПб     60000

In [81]:
import pandas as pd
import numpy as np

# Создаем пример DataFrame
data = {
    "Имя": ["Анна", "Петр", "Иван"],
    "Возраст": [25, 30, 28],
    "Город": ["Москва", "СПб", "Казань"],
    "Зарплата": [45000, 60000, 52000]
}
df = pd.DataFrame(data)

# Добавляем строку с пропущенным значением (используем np.nan)
df.loc[3] = ["Мария", np.nan, "Самара", 55000]

# Удаляем строки с пропусками
df_clean = df.dropna()

print("Очищенные данные:")
print(df_clean)

Очищенные данные:
    Имя  Возраст   Город  Зарплата
0  Анна     25.0  Москва     45000
1  Петр     30.0     СПб     60000
2  Иван     28.0  Казань     52000

In [83]:
df = pd.DataFrame({
"Имя": ["Анна", "Иван", "Анна", "Ольга"],
"Возраст": [25, 30, 25, 22]
})
df = df.drop_duplicates()
print(df)

     Имя  Возраст
0   Анна       25
1   Иван       30
3  Ольга       22

In [85]:
df = df.drop_duplicates(subset=["Имя"])

In [87]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария"],
"Возраст": [25, 30, 22, 40, 35],
"Город": ["Москва", "СПб", "Казань", "Новосибирск", "СПб"],
"Зарплата": [50000, 60000, 45000, 70000, 65000]
}
df = pd.DataFrame(data)
print(df)

     Имя  Возраст        Город  Зарплата
0   Анна       25       Москва     50000
1   Иван       30          СПб     60000
2  Ольга       22       Казань     45000
3   Петр       40  Новосибирск     70000
4  Мария       35          СПб     65000

In [89]:
df_filtered = df.query("Возраст > 30")
print(df_filtered)

     Имя  Возраст        Город  Зарплата
3   Петр       40  Новосибирск     70000
4  Мария       35          СПб     65000

In [91]:
df_filtered = df.query("Город == 'СПб' and Зарплата > 60000")
print(df_filtered)

     Имя  Возраст Город  Зарплата
4  Мария       35   СПб     65000

In [93]:
min_age = 25
df_filtered = df.query("Возраст > @min_age")
print(df_filtered)

     Имя  Возраст        Город  Зарплата
1   Иван       30          СПб     60000
3   Петр       40  Новосибирск     70000
4  Мария       35          СПб     65000

In [95]:
df_filtered = df[df["Город"].isin(["Москва", "СПб"])]
print(df_filtered)

     Имя  Возраст   Город  Зарплата
0   Анна       25  Москва     50000
1   Иван       30     СПб     60000
4  Мария       35     СПб     65000

In [97]:
df_filtered = df[~df["Город"].isin(["Москва", "СПб"])]
print(df_filtered)

     Имя  Возраст        Город  Зарплата
2  Ольга       22       Казань     45000
3   Петр       40  Новосибирск     70000

In [99]:
df_filtered = df[df["Возраст"].between(25, 35)]
print(df_filtered)

     Имя  Возраст   Город  Зарплата
0   Анна       25  Москва     50000
1   Иван       30     СПб     60000
4  Мария       35     СПб     65000

In [101]:
df_filtered = df[df["Возраст"].between(25, 35, inclusive="neither")]
print(df_filtered)

    Имя  Возраст Город  Зарплата
1  Иван       30   СПб     60000

In [103]:
import pandas as pd
data = {"Имя": ["Анна", "Иван", "Ольга", "Петр", None],
"Возраст": [25, 30, 22, None, 35],
"Город": ["Москва", "СПб", "Казань", "Новосибирск", "СПб"]
}
df = pd.DataFrame(data)
print(df)

     Имя  Возраст        Город
0   Анна     25.0       Москва
1   Иван     30.0          СПб
2  Ольга     22.0       Казань
3   Петр      NaN  Новосибирск
4   None     35.0          СПб

In [105]:
print(df.count())

Имя        4
Возраст    4
Город      5
dtype: int64

In [107]:
print(df["Город"].value_counts())

Город
СПб            2
Москва         1
Казань         1
Новосибирск    1
Name: count, dtype: int64

In [109]:
print(df["Город"].value_counts(sort=False))

Город
Москва         1
СПб            2
Казань         1
Новосибирск    1
Name: count, dtype: int64

In [111]:
print(df["Имя"].value_counts(dropna=False))

Имя
Анна     1
Иван     1
Ольга    1
Петр     1
None     1
Name: count, dtype: int64

In [113]:
print(df.nunique())

Имя        4
Возраст    4
Город      4
dtype: int64

In [115]:
print(df["Имя"].nunique(dropna=False))

5

In [117]:
print(df.isna().sum())

Имя        1
Возраст    1
Город      0
dtype: int64

In [119]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария"],
"Возраст": [25, 30, 22, 40, 35],
"Зарплата": [50000, 60000, 45000, 70000, 65000]
}
df = pd.DataFrame(data)
print(df)

     Имя  Возраст  Зарплата
0   Анна       25     50000
1   Иван       30     60000
2  Ольга       22     45000
3   Петр       40     70000
4  Мария       35     65000

In [121]:
df_sorted = df.sort_values(by="Возраст")
print(df_sorted)

     Имя  Возраст  Зарплата
2  Ольга       22     45000
0   Анна       25     50000
1   Иван       30     60000
4  Мария       35     65000
3   Петр       40     70000

In [123]:
df_sorted = df.sort_values(by="Возраст", ascending=False)
print(df_sorted)

     Имя  Возраст  Зарплата
3   Петр       40     70000
4  Мария       35     65000
1   Иван       30     60000
0   Анна       25     50000
2  Ольга       22     45000

In [125]:
df_sorted = df.sort_values(by=["Возраст", "Зарплата"], ascending=
[True, False])
print(df_sorted)

     Имя  Возраст  Зарплата
2  Ольга       22     45000
0   Анна       25     50000
1   Иван       30     60000
4  Мария       35     65000
3   Петр       40     70000

In [127]:
df.loc[5] = ["Елена", None, 55000] # Добавляем строку с NaN в
"Возраст"
df_sorted = df.sort_values(by="Возраст", na_position="first")
print(df_sorted)

     Имя Возраст  Зарплата
5  Елена    None     55000
2  Ольга      22     45000
0   Анна      25     50000
1   Иван      30     60000
4  Мария      35     65000
3   Петр      40     70000

In [129]:
df_sorted = df.sort_index()
print(df_sorted)

     Имя Возраст  Зарплата
0   Анна      25     50000
1   Иван      30     60000
2  Ольга      22     45000
3   Петр      40     70000
4  Мария      35     65000
5  Елена    None     55000

In [131]:
df_sorted = df.sort_index(ascending=False)
print(df_sorted)

     Имя Возраст  Зарплата
5  Елена    None     55000
4  Мария      35     65000
3   Петр      40     70000
2  Ольга      22     45000
1   Иван      30     60000
0   Анна      25     50000

In [133]:
import pandas as pd
df = pd.DataFrame({
"Имя": ["Анна", "Иван", "Ольга"],
"Возраст": [25, 30, 22],
"Город": ["Москва", "СПб", "Казань"]
})
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [135]:
from IPython.display import display
display(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [137]:

df.head(5) # Выведет первые 5 строк

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [139]:
df.tail(3) # Выведет последние 3 строки

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [143]:
pd.set_option("display.max_rows", 100) # Показывать до 100 строк

In [145]:
pd.set_option("display.max_columns", 50) # Показывать до 50 столбцов

In [147]:
pd.set_option("display.max_colwidth", None)

In [149]:
pd.set_option("display.float_format", "{:.2f}".format)

In [151]:
df.style.set_sticky()

In [184]:
from tabulate import tabulate
print(tabulate(df, headers="keys", tablefmt="github"))

|    | Имя   |   Возраст | Город   |
|----|-------|-----------|---------|
|  0 | Анна  |        25 | Москва  |
|  1 | Иван  |        30 | СПб     |
|  2 | Ольга |        22 | Казань  |

In [186]:
df.style.set_properties(**{"background-color": "lightgray", "color": "black"})

In [192]:
html_table = df.to_html()
with open("table.html", "w", encoding="utf-8") as f: f.write(html_table)